@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  background-color: #fff;
}
body, html {
  overflow-x: hidden;
  max-width: 100vw;
}

iframe.skiptranslate { 
    display: none !important;
  }
  
  
  .goog-te-banner-frame { 
    display: none !important;
  }
  
  body { 
    top: 0px !important;
  }
  .goog-te-gadget .goog-te-combo {
    font-size: 16px !important;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
    
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  /* Add this to your global styles (e.g., index.css) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


  .phone-frame {
    width: 375px; /* iPhone width */
    height: 667px; /* iPhone height */
    border: 16px solid #000;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .scrollable-content {
    width: 100%;
    height: 100%;
    border: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* .line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */


/* Move dots to top of the image */
.slick-dots {
  position: absolute !important;
  top: 95%;
  bottom: unset !important;
  width: 100%;
  display: flex !important;
  justify-content: center;
  z-index: 10;
}
.slick-dots li{
  
margin: 0!important;
}
/* White dots */
.slick-dots li button:before {
  color: white !important;
  opacity: 0.8 !important;
  font-size: 10px !important;
}

/* Active dot */
.slick-dots li.slick-active button:before {
  color: #ffcc00 !important;

  opacity: 1 !important;
}
